grant {
permission javax.security.auth.AuthPermission "createLoginContext.EjemploLogin";
permission javax.security.auth.AuthPermission "modifyPrincipals";
permission javax.security.auth.AuthPermission "doAsPrivileged";
};
grant Principal EjemploPrincipal "maria" {
permission java.io.FilePermission "fichero.txt", "read";
};
grant Principal EjemploPrincipal "juan" {
permission java.io.FilePermission "fichero.txt", "write";
};